* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

a {
	text-decoration: none;
	font-size: 2rem;
	color: #ffffff;
}

a:hover {
	color: #008b8b;
}

.main_nav {
	background-color: #FFC0CB;
	border-bottom: 1px solid #ffffff;
}

.nav_content {
	margin: 0px auto;
	text-align: center;
	padding: 20px 0;
}

.nav_option {
	/*This means the list items will be treated like they're text so when we text align in the parent element this will work*/
	display: inline-block; 
	padding: 30px 30px;
}

.nav_option a {
	border: 1px solid #ffffff;
	border-radius: 5px;
	padding: 5px;
}

.main_container {
	padding: 100px 0 275px 0;
	background-image: url("res/tri-color-hi-res.jpg");
	background-size: cover;
}

.main_content {
	margin: 0 auto;
	max-width: 50%;
}


.headers {
	text-align: center;
	color: #ffffff;
}

.name {
	font-size: 5rem;
	font-weight: lighter;
	margin: 0;
	padding-top: 20px;
	
}

.job {
	font-weight: normal;
	font-size: 3rem;
}

p {
	text-align: justify;
	color: #fadadd;
}

.about_me {
	padding: 50px 75px;
	border-style: solid;
	border-width: 1px;
	border-radius: 10px;
	margin: 100px 0;
	font-size: 2rem;
	background-color: #009999;
	border-color: #ffffff;
}

.portfolio_heading {
	background-color: #74BABD;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
}

.portfolio_title {
	font-weight: normal;
	font-size: 3rem;
}

.portfolio_section {
	background-color: #b7ded2;
}

.projects {
	overflow: auto;
}

.project {
	position: relative;
	background-position: center;
	background-size: cover;
	width: 33.3%;
	height: 300px;
	float: left;
	padding: 200px 0;
	opacity: 1;
	filter: alpha(opacity=50); /*Compatible with IE8 and earlier*/
}

.portfolio_project1 {
	background-image: url("res/paint.png");
}

.portfolio_project2 {
	background-image: url("res/recipe.png");
}

.portfolio_project3 {
	background-image: url("res/aptitude.png");
}

.portfolio_overlay {
	background-image: url("res/pink-abstract-painting.jpg");
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	width: 100%;
	height: 100%;
	opacity: 0;
	padding: 15px;
}

.portfolio_overlay:hover {
	opacity: 1;
	z-index: 100;
}

.project_title {
	font-size: 3rem;
	font-weight: normal;
}

.project_info {
	font-size: 2rem;
	color: #ffffff;
}

.portfolio_links a {
	border: 1px solid #ffffff;
	border-radius: 5px;
	padding: 5px;
	background-color: #FFC0CB;
	margin: 0 5px;
}

footer {
	background-color: #FFC0CB;
	border-top: 1px solid #ffffff;
	margin: 0px auto;
	text-align: center;
	padding: 20px 0;
}

.footer_content {
	overflow: auto;
	color: #ffffff;
	padding: 20px 150px;
}

.email {
	float: left;
	font-size: 2rem;
	color: #ffffff;
	padding: 10px 0 10px 0;
}

.footer_content a {
	float: right;
	margin: 0 10px;
	font-size: 1.5rem;
}

@media screen and (max-width: 1024px) and (min-width: 640px) {

	.project {
		width: 50%;
	}
}

@media screen and (max-width: 1000px) {

	.main_content {
		max-width: 75%;
	}

}

@media screen and (max-width: 770px) {

	.about_me {
		margin: 25px 0;
	}

	.project {
		width: 100%;
	}

	.email {
		float: none;
		font-size: 2.5rem;
		padding: 20px 0 20px 0;
	}

	.footer_content a {
		float: none;
		font-size: 2rem;
		margin: 0 15px;
	}

}

@media screen and (max-width: 700px) {

	.footer_content {
		padding: 20px 0;
	}

	.about_me {
		font-size: 1.5rem;

	}

}

@media screen and (max-width: 640px) {

	.about_me {
		margin: 0;
	}

}

@media screen and (max-width: 520px) {

	.about_me {
		padding: 25px 50px;
	}

}


@media screen and (max-width: 450px) {

	.email {
		font-size: 2rem;
	}

	.nav_option {
		padding: 30px 5px;
	}

	.about_me {
		padding: 10px 25px;
	}

}