* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	margin: 0;
	padding: 0;
}

nav {
	background-color: #E1AF89;
}

.navbar_content {
	margin: 0px auto;
	width: 100%;
	max-width: 500px;
	text-align: center;
	background-color: #E1AF89;
	padding: 20px;
}

.navbar_option {
	display: inline-block; 
	/*This means the list items will be treated like they're text so when we text align in the parent element this will work*/
	padding-right: 50px;
	background-color: #E1AF89;
}

.navbar_option a {
	text-decoration: none;
	color:#2B1D12;
	font-family: Arial, Helvetica, sans-serif;
}
.main_container {
	background-image: url("https://cdn.pixabay.com/photo/2018/02/13/23/41/nature-3151869_960_720.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	color: #ffffff;
	height: 100vh;
	padding: 20px 450px 800px 450px;
}

.headers {
	text-align: center;
	font-family: "Helvetica", Arial, sans-serif;
	
}

.name {
	font-size: 2.5vw;
	font-weight: normal;
	
}

.job {
	font-weight: normal;
	font-size: 1.5vw;
	margin: 50px o 100px 0;
}

p {
	text-align: justify;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.75vw;
}
.about_me {
	padding: 0 20px;
	border-style: solid;
	border-width: 1px;
	border-radius: 10px;
	margin-top: 100px;
	
}

.portfolio_section {
	background-color: #E1AF89;
}

.portfolio_heading {
	text-align: center;
	color: #2B1D12;
	font-family: Arial, Helvetica, sans-serif;
}

.portfolio_content {
	overflow: auto;
	
}

.portfolio_content div {
	width: 33.3%;
	height: 500px;
	float: left;
	text-align: center;
	padding: 300px 0;
}

h3 {
	margin: 0;
	padding: 10px;

}

.portfolio_content div:hover {
	opacity: 0.5;
	filter: alpha(opacity=50); /*Compatible with IE8 and earlier*/
	
}
.portfolio_content a {
	color: #F1F4E6;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
	border-color: #F1F4E6;
	padding: 2px;
}
.portfolio_project1
{
	background-image: url("https://cdn.pixabay.com/photo/2019/08/30/10/28/cep-4440928_960_720.jpg");
	background-size: cover;	
}

.portfolio_project2
{
	background-image: url("https://cdn.pixabay.com/photo/2013/06/05/22/03/mushrooms-116973_960_720.jpg");
	background-size: cover;
}

.portfolio_project3
{
	background-image: url("https://cdn.pixabay.com/photo/2017/09/25/21/13/mushroom-2786789_960_720.jpg");
	background-size: cover;
}


footer {
	background-color: #E1AF89;
}

.footer_content {
	margin: 0px auto;
	width: 100%;
	max-width: 500px;
	text-align: center;
	color: #2B1D12;
	padding: 20px 0;
	
}

h4 {
	overflow: auto;
	
}

.email {
	float: left;
	
}

h4 a {
	float: right;
	color: #2B1D12;
	margin-left:5px;
	text-decoration: none;
}

