* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	margin: 0;
	padding: 0;
}

.navbar_content {
	overflow: auto;
	margin: 10px auto;
	width: 100%;
	max-width: 1000px;
	text-align: center;
}

.navbar_option {
	display: inline-block; 
	/*This means the list items will be treated like they're text so when we text align in the parent element this will work*/
	padding-right: 50px;
}

.main_container {
	background-image: url("https://cdn.pixabay.com/photo/2018/02/13/23/41/nature-3151869_960_720.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	padding: 600px;
	text-align: center;
}


.portfolio_content div {
	width: 33.3%;
	height: 500px;
	
}

.portfolio_project1
{
	background-image: url("https://cdn.pixabay.com/photo/2019/08/30/10/28/cep-4440928_960_720.jpg");
	background-size: cover;
	
}

.portfolio_project2
{
	background-image: url("https://cdn.pixabay.com/photo/2013/06/05/22/03/mushrooms-116973_960_720.jpg");
	background-size: cover;
}

.portfolio_project3
{
	background-image: url("https://cdn.pixabay.com/photo/2017/09/25/21/13/mushroom-2786789_960_720.jpg");
	background-size: cover;
}

